In [85]:
import numpy as np
import pandas as pd
np.random.seed(3)

## Задание 3.1

Задача обратного интерполирования

Функция $f(x) = ln(1 + x)$ при $\varepsilon = 10 ^{-6}$

In [86]:
def getFunc(arg: float) -> float:
    return np.log(1 + arg)

In [87]:
m = int(input())

30

In [88]:
a = float(input())
h = float(input())

0.1
0.1

In [89]:
funcVal = []
for i in range(m + 1):
    funcVal.append([getFunc(a + i * h), a + i * h])
funcVal = sorted(funcVal, key = lambda x: x[0])
funcVal = np.array(funcVal)

In [90]:
d = {"function": funcVal[:, 0], "argument": funcVal[:, 1]}
df = pd.DataFrame(data = d, index=np.arange(1, m + 2))
df

    function  argument
1   0.095310       0.1
2   0.182322       0.2
3   0.262364       0.3
4   0.336472       0.4
5   0.405465       0.5
6   0.470004       0.6
7   0.530628       0.7
8   0.587787       0.8
9   0.641854       0.9
10  0.693147       1.0
11  0.741937       1.1
12  0.788457       1.2
13  0.832909       1.3
14  0.875469       1.4
15  0.916291       1.5
16  0.955511       1.6
17  0.993252       1.7
18  1.029619       1.8
19  1.064711       1.9
20  1.098612       2.0
21  1.131402       2.1
22  1.163151       2.2
23  1.193922       2.3
24  1.223775       2.4
25  1.252763       2.5
26  1.280934       2.6
27  1.308333       2.7
28  1.335001       2.8
29  1.360977       2.9
30  1.386294       3.0
31  1.410987       3.1

In [91]:
(left, right) = (a, funcVal[-1,1])

Точка интерполирования

In [92]:
F = float(input())

1

Степень интерполяционного многочлена:

In [95]:
n = int(input())
while (n > m):
    print("Please, enter n <= m")
    n = int(input())

10

In [99]:
funcVal1 = sorted(funcVal, key = lambda x: np.abs(x[0] - F))
funcVal1 = np.array(funcVal1[:n + 1])
d = {"function": funcVal1[:, 0], "argument": funcVal1[:, 1]}
df = pd.DataFrame(data = d, index=np.arange(1, n + 2))
df

    function  argument
1   0.993252       1.7
2   1.029619       1.8
3   0.955511       1.6
4   1.064711       1.9
5   0.916291       1.5
6   1.098612       2.0
7   0.875469       1.4
8   1.131402       2.1
9   1.163151       2.2
10  0.832909       1.3
11  1.193922       2.3

### Способ 1

In [100]:
def lagrange(xp: float, x, f) -> float:
    global n
    yp = 0
    for i in range(n):
        p = 1
        for j in range(n):
            if i != j:
                p = p * (xp - x[j])/(x[i] - x[j])
    
        yp = yp + p * f[i] 
    return yp

In [101]:
value = lagrange(F, funcVal1[:, 0], funcVal1[:, 1])
dsvalue = np.abs(getFunc(value) - F)
print('Argument: ', value)
print('Function Value: ', getFunc(value))
print('Disperency module: ', dsvalue)

Argument:  1.7182818284590449
Function Value:  0.9999999999999998
Disperency module:  2.220446049250313e-16

### Способ 2

In [112]:
k = int(input())

12

In [113]:
epsilon = 1/np.power(10,k)

In [114]:
def separationMethod(left, right, F) -> list:
    ans = []
    N = 100
    t = (right - left) / N
    x1 = left
    x2 = left + t 
    y1 = 0
    y2 = 0
    counter = 0
    while (x2 <= right):
        y1 = getFunc(x1)
        y2 = getFunc(x2)
        if ((y1 - F) * (y2 - F) <= 0):
            pair = (x1, x2)
            ans.append(pair)
            counter+=1
            print(counter, ": [", x1, ", ", x2, "]\n")
        x1 = x2
        x2 += t
    return ans

In [115]:
a = separationMethod(left, right, F)

1 : [ 1.6900000000000013 ,  1.7200000000000013 ]

In [116]:
def dividedDiff(x, func):
    global n, m
    A = np.zeros((n + 1,n + 2))
    A[:,0]= x[:]
    
    for i in range(n):
        A[i, 1] = func[i]
    for j in range(2,n+1):
        for i in range(j-1,n):
            A[i,j] = (A[i,j-1]-A[i-1,j-1]) / (A[i,0]-A[i-j+1,0])
    p = np.zeros(n)
    for k in range(0,n):
        p[k] = A[k,k+1]
    return p

In [117]:
def newton(xp: float, x, func):
    global n
    p = dividedDiff(x, func)
    prev = p[n - 1]
    for i in range(n-2, -1, -1):
        prev = prev*(xp - x[i]) + p[i]
    return prev

In [118]:
def bisectionMethod(F, x, func, lBound: float, rBound: float):
    global epsilon
    step = 0
    print("---------------------------------------\n")
    print("Initial approximation x = ", (lBound + rBound) / 2, "\n")
    while (rBound - lBound >= 2 * epsilon):
        pivot = (rBound + lBound) / 2
        if ((newton(pivot, x, func) - F) * (newton(rBound, x, func) - F) <= 0):
            lBound = pivot
        else:
            rBound = pivot
        step += 1
    sol = (lBound + rBound) / 2
    delta = (rBound - lBound) 
    
    print("Argument = ", sol, "\n")
    print("Function value = ", getFunc(sol), "\n")
    print("|P(x) - F| = ",  np.abs(newton(sol, x, func) - F))
    print("Discrepancy module: ",np.abs(getFunc(sol) - F), "\n")

In [119]:
bisectionMethod(F, funcVal1[:, 1], funcVal1[:, 0],  a[0][0], a[0][1])

---------------------------------------

Initial approximation x =  1.7050000000000014

Argument =  1.7182818284598769

Function value =  1.000000000000306

|P(x) - F| =  9.9253938401489e-14
Discrepancy module:  3.0597746558669314e-13