In [30]:
import numpy as np
import pandas as pd
np.random.seed(1)

## Задание 2
### Вариант 2
Задача алгебраического интерполирования

Введем число значений в таблице(в нашем варианте $m + 1 = 16$):

In [31]:
m = int(input())

16

Концы отрезка(в нашем варианте $a = 0$ и $b = 1.5$):

In [32]:
(left, right) = (0, 1.5)

Зададим функцию. В варианте 2 это функция $f(x) = ln(1 + x)$

In [33]:
def getFunc(arg: float) -> float:
    global left, right
    if (arg >= left and arg <= right):
        return np.log(1 + arg)
    else:
        raise Exception('Out of search exception')

Степень интерполяционного многочлена(По условию $n \leq m$):

In [34]:
n = int(input())
while (n > m):
    print("Please, enter n <= m")
    n = int(input())

14

Точка интерполирования:

In [35]:
x = float(input())

0.7

### Подготовительный этап:

Случайным образом составим таблицу узлов интерполяции:

In [36]:
intPoints = []
for i in range(m):
    intPoints.append(np.random.uniform(left, right))
d = {"value": intPoints}
df = pd.DataFrame(data = d, index=np.arange(1, m + 1))
df

       value
1   0.625533
2   1.080487
3   0.000172
4   0.453499
5   0.220134
6   0.138508
7   0.279390
8   0.518341
9   0.595151
10  0.808225
11  0.628792
12  1.027829
13  0.306678
14  1.317176
15  0.041081
16  1.005701

### Решение задачи алгебраического интерполирования:

Выберем $n + 1$ аргумент из таблицы, которые являются самыми ближайшими к точке интерполирования $x$. И после этого отсортируем получившийся массив:

In [38]:
intPoints.sort(key = lambda i: np.abs(i - x))
intPoints = intPoints[:n]
intPoints.sort()
d = {"value": intPoints}
df = pd.DataFrame(data = d, index=np.arange(1, n + 1))
df

       value
1   0.138508
2   0.220134
3   0.279390
4   0.306678
5   0.453499
6   0.518341
7   0.595151
8   0.625533
9   0.628792
10  0.808225
11  1.005701
12  1.027829
13  1.080487
14  1.317176

#### Метод Лагранжа:

In [9]:
def lagrange(xp: float, x, func) -> float:
    global n
    yp = 0
    for i in range(n):
        p = 1
        for j in range(n):
            if i != j:
                p = p * (xp - x[j])/(x[i] - x[j])
    
        yp = yp + p * func(x[i]) 
    return yp

In [39]:
value = lagrange(x, intPoints, getFunc)
dsvalue = np.abs(value - getFunc(x))
print('Value: ', value)
print('Disperency module: ', dsvalue)

Value:  0.5306282510619262
Disperency module:  2.441380431150719e-13

#### Метод Ньютона:

Найдем матрицу разделенную разность:

In [40]:
def dividedDiff(x, func):
    global n, m
    A = np.zeros((n,n+1))
    A[:,0]= x[:]
    for i in range(n):
        A[i, 1] = func(x[i])
    for j in range(2,n+1):
        for i in range(j-1,n):
            A[i,j] = (A[i,j-1]-A[i-1,j-1]) / (A[i,0]-A[i-j+1,0])
    p = np.zeros(n)
    for k in range(0,n):
        p[k] = A[k,k+1]
    return p

In [41]:
def newton(xp: float, x, func):
    global n
    p = dividedDiff(x, func)
    print('A = ',p)
    prev = p[n - 1]
    for i in range(n-2, -1, -1):
        prev = prev*(xp - x[i]) + p[i]
    return prev

In [42]:
value = newton(x, intPoints, getFunc)
dsvalue = np.abs(value - getFunc(x))
print('Value: ', value)
print('Disperency module: ', dsvalue)

A =  [ 1.29718539e-01  8.48284412e-01 -3.40583003e-01  1.77042137e-01
 -9.42621359e-02  5.10649238e-02 -2.73909837e-02  1.47670836e-02
 -8.07447044e-03  4.06273392e-03 -1.87272745e-03  8.59547856e-04
 -3.87046103e-04  1.58025021e-04]
Value:  0.5306282510619261
Disperency module:  2.4424906541753444e-13